@font-face {
  font-family: 'Migha';
  src: url('migha_display/Migha_Display/Normal/Migha-Bold.otf') format(opentype);
  src: url('migha_display/Migha_Display/Normal/Migha-Regular.otf') format(opentype);
  src: url('migha_display/Migha_Display/Normal/Migha-Slant.otf') format(opentype);
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}
h1{
  font-size: 100px;
  font-family: 'Migha';
  font-style: 'Migha-Slant';
}
#startGameButton{
  font-size: 50px;
  font-family: 'Migha';
  font-style: 'Migha-Regular';
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('backgroundtryagain.png');
  background-size: cover;
  background-position: center;
  color: black;
  background-repeat: no-repeat;
  
  cursor: url('cursor_again_small.png'), auto;
}

#startGameButton:hover,
#startGameButton:active {
  cursor: url('cursor_my_design.png'), auto;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw; /* Use viewport width to fill the screen */
  height: 100vh; /* Use viewport height to fill the screen */
  align-items: center; /* Center items vertically */
  justify-content: space-around; /* Distribute space between sections */
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-section, .right-section {
  position: relative;
  flex: 1; /* Allows the sections to grow and fill the container */
}

.middle-section {
  flex: 2; 
  font-size: 40px;
  font-family: 'Geneva';
}

img, img.replacement {
  max-width: 500px;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  transition: transform 0.3s ease;
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  min-height: 700px;
}

img:hover{
  opacity: 0;
}
img:hover + img.replacement {
  display: block;
}

img.replacement {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
}



  
 
  
  







  
  
