@font-face {
  font-family: 'Unique';
  src: url('OpenType-PS/Unique-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 100px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%
}

h1 {
    font-size: 100px;
    font-family: 'Unique';
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
    height: 100%;   
    width: 100%;
}

section {
    width: 33.33%;
    height: 100%;
    border: 1px solid purple;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;   
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

